%btn-custom {
  padding: $spacer * 0.75 $spacer * 0.75 $spacer * 0.75 $spacer * 0.75;
  // padding: $spacer * 0.5 $spacer * 0.5 $spacer * 0.5 $spacer * 0.75;
  display: flex;
  gap: $spacer * 0.25;
  align-items: center;
  justify-content: center;
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
  letter-spacing: 0.02em;
  border-radius: $spacer;
  @include media-breakpoint-up(lg) {
    padding: $spacer * 0.75 $spacer * 0.75 $spacer * 0.75 $spacer * 1.25;
    line-height: $line-height-sm;
  }
}

.btn-default {
  @include button-variant(
    btn-color(default-bg),
    transparent,
    text-color(deepBg-primary),
    btn-color(default-bg-hover),
    transparent,
    text-color(primary),
    btn-color(default-bg-hover),
    transparent,
    text-color(primary),
    btn-color(disabled-bg),
    transparent,
    text-color(disabled-bg-hover)
  );
  @extend %btn-custom;
}

.btn-default-outline {
  @include button-outline-variant(
    text-color(primary),
    text-color(primary),
    bg-color(ghost-bg-hover),
    transparent,
    text-color(primary)
  );
  @include button-variant(
    transparent,
    input-color(default-border),
    text-color(primary),
    btn-color(ghost-bg-hover),
    transparent,
    text-color(primary),
    btn-color(ghost-bg-hover),
    transparent,
    text-color(primary)
  );
  @extend %btn-custom;
}

.btn-lg {
  @include button-variant(
    btn-color(default-lg-bg),
    transparent,
    text-color(primary),
    btn-color(default-lg-hover),
    transparent,
    text-color(deepBg-primary),
    btn-color(default-lg-hover),
    transparent,
    text-color(deepBg-primary),
    btn-color(disabled-bg),
    transparent,
    text-color(disabled-bg-hover)
  );
  @extend %btn-custom;
}
